body{
	padding-left: 40px;
	padding-right: 40px;
}

h1{
color: green;
font-size: 30pt;
font-family: 'Roboto Slab', serif;
text-align: center;
}

p{
color: #888888;
}

a:link{
	color: #33cc33;
	font-weight: normal;
	text-decoration-line: none;
}
a:hover{
	font-weight: bold;
	text-decoration-line: underline;
}
a:active{
	background-color: #33cc33;
	color: white;
	font-weight: bold;
	text-decoration-line: none;
}
a:visited{
	color: #248f24;
}